@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Georgia;
	font-size : 91pt;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Georgia;
	font-size : 88pt;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
